*container {
    width: 50%;
    margin: 0 auto;

  }

  body{
    background-image: url(../imagens/bg_1.jpg);
}
  
  .form-contact {
    width: 50%;
    font-family: "Arial", Times, serif;
    margin-top: 0 auto;
    padding-top: 50px;
  }
  
  .form-contact-input {
    width: 50%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-button {
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background: rgb(9, 245, 80);
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #bbb5b5;
    border-right: 1px solid #bbb5b5;
    transition: 1s;
  }

    .titulo{
      width: 40%;
      color: #31d65a;
      font-family: "Bauhaus 93 Regular", Times, serif;
      margin-top: 50px;
      font-size: 60px;
      border: 5px solid #ffffff;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }
